<h1>Listing items</h1>

<table id="sortable_items">
<tbody id="items">
  <% for item in @items %>
    <tr id="item-<%= item.id %>">
	  <td><%= image_tag item.display_thumbnail %></td>
	  <td><%= item.name %></td>
      <td><%= link_to 'Show', [@project, item] %></td>
      <td><%= link_to 'Destroy', [@project, item], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'Add Image', new_project_image_path(@project) %> |
<%= link_to 'Add Video', new_project_video_path(@project) %>
