<h1>Listing items</h1>

<table id="sortable_items">
<tbody id="items">
  <% for item in @items %>
    <tr id="item-<%= item.id %>">
	  <td><%= image_tag item.source.url(:thumb) %></td>
	  <td><%= item.name %></td>
      <td><%= link_to 'Show', [@project, item] %></td>
      <td><%= link_to 'Destroy', [@project, item], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'New item', new_project_item_path(@project) %>
