<h1><%= image.name %></h1>
<%= link_to image_tag(image.source.url(:normal), :class => 'image', :alt => image.name), image.source.url(:large), :class => 'lightbox', :title => image.description %>

<p class="project_description"><%= image.description %></p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_project_image_path(project, image) %>
<% end %>

<%= link_to 'Back', project_path(project) %>
